<h1><%= __('archive_a') %></h1>
<div class="archive">
  <% sortedPosts = page.posts.sort('date', 'desc') %>
  <% sortedPosts.forEach((post, i) => { %>
    <%
      const postYear = date(post.date, 'YYYY')
      const prevPostYear =
        sortedPosts.data[i - 1] ?
        date(sortedPosts.data[i - 1].date, 'YYYY') :
        postYear
    %>
    <% if (postYear !== prevPostYear) { %>
      </ul>
    <% } %>
    <% if (!i || postYear !== prevPostYear) { %>
      <h2><%- postYear %></h2>
      <ul class="post-list">
    <% } %>
    <%- partial('_partial/post-item', { post: post }) %>
  <% }); %>
  </ul>
  <%- partial('_partial/pagination') %>
</div>
