<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post__header">
    <% if (page.title) {%>
      <%- partial('_partial/post/title', { post: page, list: false, className: 'post__title' }) %>
    <% } %>
  </header>
  <%- partial('_partial/post/gallery') %>
  <div class="post__body" itemprop="articleBody">
    <%- page.content %>
  </div>
</article>
