<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post__header">
    <%- partial('_partial/post/title', { post: page, slug: 'page', class_name: 'post__title' }) %>
  </header>
  <%- partial('_partial/post/gallery') %>
  <div class="post__body" itemprop="articleBody">
    <%- page.content %>
  </div>
</article>
