*,
*:before,
*:after
  box-sizing: border-box

html
  height: 100%
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

body
  color: $color-text
  background-color: $color-background
  font-size: $font-size
  font-family: $font-family-body
  text-rendering: geometricPrecision
  min-height: 100%
  margin: 0
  padding: 3rem 0

section
  margin-bottom: 3rem

h1
  font-size: 2rem
  margin-bottom: 2rem

h1, h2, h3, h4, h5, h6
  line-height: 1.1
  margin: 1rem 0

h4, h5, h6
  font-size: inherit

a
  color: $color-link
  text-decoration: none

a:hover
  text-decoration: underline

hr
  border: 1px solid $color-lightest

strong
  font-weight: bold

em, cite
  font-style: italic

sup, sub
  font-size: 0.75em
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.2em

small
  font-size: 0.85em

acronym, abbr
  border-bottom: 1px dotted

ul, ol
  ul, ol
    margin-top: 0
    margin-bottom: 0

ol
  list-style: decimal

dt
  font-weight: bold

table
  border: 2px solid $color-lightest
  width: 100%
  font-size: $font-size-sm
  border-collapse: collapse
  text-align: left
  margin: 1rem 0

th
  font-weight: bold
  border: 2px solid $color-lightest
  padding: 8px 8px

td
  border: 2px solid $color-lightest
  padding: 8px

pre
  font-family: $font-family-mono
  font-size: $font-size-sm
  padding: 10px 15px 0
  line-height: 1.375rem
  overflow-x: auto

code
  padding: 0 5px

pre code
  border: none
  display: block
  padding: 0
