// Fonts
$font-family-body = -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif
$font-family-mono = "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace
$font-family-tt = $font-family-body
$font-size = 16px
$font-size-lg = 1.5 * $font-size
$font-size-sm = .875 * $font-size
$line-height = normal

// Colors
$color-background = #fff
$color-link = #0366d6
$color-text = #222
$color-light = #666
$color-lightest = #999
$color-accent = #000
$ease-in-sine = cubic-bezier(0.47, 0, 0.745, 0.715)

// Sizes
$max-width = 57rem

// Code Highlight
$highlight = hexo-config("customize.highlight") || "github"
