<footer class="footer">
  <div class="footer__info">
    &copy; <%= new Date().getFullYear() %>
    <a href="<%- config.url %>"><%= config.author || config.title %></a>
    <br>
    <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
  </div>
</footer>
