.content
  max-width: $max-width
  line-height: 1.5
  margin: 0 auto
  padding: 0 1rem

.post
  &__header
    margin-bottom: 2rem

  &__title
    margin-bottom: 0

  &__meta
    color: $color-light
    margin-right: 1rem

    a
      color: inherit

      &.tag-link::before
        content: '#'

  &__body
    img, video
      max-width: 100%
      height: auto
      display: block
      margin: auto

    /* http://webdesignerwall.com/tutorials/css-elastic-videos */
    .video-container
      position: relative
      padding-top: (9 / 16 * 100)% // 16:9 ratio
      height: 0
      overflow: hidden

      iframe, object, embed
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        margin-top: 0

    blockquote
      font-size: $font-size-lg
      color: $color-accent
      margin: 1rem 0
      padding: 0 1rem
      quotes: "\201C""\201D""\2018""\2019"

      p
        margin: 0

      footer
        color: $color-light
        font-size: $font-size-sm
        margin: 10px 0

        a
          color: $color-light

        a:hover
          color: #999

        cite
          &:before
            content: "—"
            padding: 0 0.5em

      &.pullquote
        text-align: left
        width: 45%
        margin: 0
        padding: 0 1rem 1rem

        &.left
          float: left

        &.right
          float: right

    .caption
      color: $color-light
      display: block
      font-size: $font-size-sm
      margin-top: 0.5em
      position: relative
      text-align: center

.post-list
  padding: 0

.post-item
  list-style-type: none
  margin-left: 0
  margin-bottom: 1rem

  &__meta
    display: inline-block
    color: $color-light
    margin-right: 1rem
    vertical-align: top
    width: 96px

  &__body
    display: inline-block
    vertical-align: top
    width: calc(100% - 121px)

  &__excerpt
    & > *:last-child
      margin-bottom: 0
