.header
  font-size: $font-size-sm
  max-width: $max-width
  width: 100%
  margin: 0 auto 3rem
  padding: 0 1rem

  a
    color: inherit

  &__title
    color: inherit
    font-size: 2rem
    font-weight: bold

    &, &:hover
      text-decoration: none

  &__nav
    ul
      list-style-type: none
      padding-left: 0

      li
        display: inline-block
        vertical-align: middle
        margin-right: 15px

      li:last-child
        margin-right: 0

    a
      color: $color-lightest
